.outerSection{
    width: 100%;
    margin:50px auto;
    padding: 50px 10px;
    background-color: black;
    color: white;
}
.outerSection .row{
display: flex;
justify-content: space-between;
}
.latestCard{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:30px 10px;
}
.latestCard .right{
    display: flex;
    flex-direction: column;

}

.latestCard button{
    width: fit-content;
}